body{
    background: linear-gradient(132deg, #ec5218, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
}
@keyframes BackgroundGradient{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100{background-position: 0% 50%;}
}
nav{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    border-style: inset;
    padding: 2px;
    border-radius: 20px; 
    border-color: black;
}
main{
    display: inline-block;
    width: 500px;
}
nav a{
    display:inline-block;
    margin: 5px;
    border: 1px solid white;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px; 
    background-color: black;
    color: white; 
    box-shadow: 3px 3px 6px black;
}
footer{
    position: absolute;
    bottom: 0;
}
footer a{
    display:block;
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    text-decoration: none;
    border-radius: 5px; 
    background-color: black;
    color: white; 
    box-shadow: 3px 3px 6px black;
    margin-bottom: 5px;
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 5px #000000;
    text-decoration: underline;
}
h2{
    font-family: 'Orbitron', sans-serif;
    text-decoration-line: underline;
}

main{
    width: 800px;
    text-align: center;
}
figure{
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    font-size: 10px
}
.centeredImage {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
}



